<!DOCTYPE html>
<html>
  <head>
    <title>TimeKeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div id="title_name">
        Time Keeper
    </div>
    <div id="subtile_name">
        ～勉強時間を一目で管理～
    </div id="button_flex-box">
        <span class="sub_link"><b><%= link_to '新規登録' ,'https://yahoo.co.jp'  %></b></span>
        <span class="sign-up_link"><b><%= link_to 'ログイン' ,'https://yahoo.co.jp'  %></b></span>
    <div>

    </div>
  </body>
</html>